@media screen and ( max-width: 1074px )
    main
        section
            & > div   
                & > div:first-child
                    display: inline-block
                    h1
                        text-align: center
                    & > form
                        margin: 15px auto 0 auto
                        width: 157px
                & > div:last-child  
                    display: block  
                    & > form
                        margin: 0 auto                
                    .cards
                        width: 100%
                        justify-content: center                        