*
    box-sizing: border-box
    font-family: Source Sans Pro
    font-weight: normal
    color: #3F3F3F
    padding: 0
    margin: 0
section
    padding: 32px 24px 0 
    & > div
        max-width: 1376px        
        margin: 0 auto
        & > div
            display: flex
            justify-content: space-between
        & > div:first-child
            align-items: center
            margin: 0 8px
            h1
                font-weight: 600
                font-size: 28px
                line-height: 35px
            & > form
                position: relative
                select
                    height: 36px
                    font-size: 12px
                    line-height: 15px
                    color: #B4B4B4
                    padding: 0 36px 0 16px 
                    background: #FFFEFB
                    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1)
                    border-radius: 4px
                    border: none                               
                    -webkit-appearance: none
                    -moz-appearance: none
                    outline: none
                &:after    
                    content: "" 
                    position: absolute
                    background: url('../images/icons/arrow.svg') center center no-repeat                    
                    width: 8px
                    height: 5px
                    top: 50%
                    right: 16px
                    transform: translateY(-50%)  
        & > div:last-child
            margin-top: 16px
            & > form
                display: block
                max-width: 329px
                height: 440px                       
                padding: 24px
                margin: 0 8px 0 0
                background: #FFFEFB
                box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02)
                border-radius: 4px
                & > label
                    font-weight: 400
                    font-size: 10px
                    line-height: 13px                    
                    letter-spacing: -0.02em
                    color: #49485E
                    display: inline-block
                    margin-top: 13px
                    position: relative                
                & > label:first-child
                    margin-top: 0 
                & > input, textarea
                    border-radius: 4px
                    border: none
                    width: 100%                      
                    height: 36px                    
                    margin-top: 3px
                    background: #FFFEFB
                    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1)
                    outline: none
                    padding-left: 16px 
                    font-size: 12px
                    line-height: 15px                    
                    font-weight: 400          
                input::placeholder                                                                      
                    color: #b4b4b4
                & > span
                    font-weight: 400
                    font-size: 8px
                    line-height: 10px                    
                    letter-spacing: -0.02em
                    color: #FF8484
                    position: absolute
                    margin-top: 2px 
                .general-class-inputs-red
                    border: 1px solid #FF8484                    
                    

                textarea
                    padding-top: 14px 
                    height: 108px
                    resize: none
                 
                input[type="number"]::-webkit-outer-spin-button,
                input[type="number"]::-webkit-inner-spin-button 
                    -webkit-appearance: none
                    
                input[type="number"]:focus 
                    appearance: none
                    -moz-appearance: textfield


                input::placeholder, textarea::placeholder
                    font-size: 12px
                    line-height: 15px                        
                    color: #B4B4B4
                
                & > button
                    cursor: pointer
                    margin-top: 24px
                    border: none
                    width: 100%
                    height: 36px                    
                    background: #EEEEEE
                    border-radius: 10px
                .buttonStyleActive
                    color: #FFFFFF
                    background: #7BAE73      
                .red-label
                    &:after
                        position: absolute
                        content: ''
                        width: 4px
                        height: 4px
                        background: #FF8484
                        border-radius: 50%
            .cards
                display: flex
                flex-wrap: wrap
                justify-content: space-between
                & > .item
                    cursor: pointer
                    max-width: 329px
                    margin: 16px 8px 0
                    background: #FFFEFB
                    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02)
                    border-radius: 4px
                    position: relative
                    .icon-trach
                        height: 0
                        right: -3%
                        top: -3% 
                        position: absolute
                    &:hover 
                        .icon-trach
                            background: url('../images/icons/trash.svg') center center no-repeat
                            width: 32px                            
                            height: 36px
                            display: block
                            transition: height 0.3s ease
                                                       
                            
                            
                        
                    img
                        border-radius: 4px 4px 0px 0px                   
                        width: 100%
                        height: 200px
                        object-fit: cover
                    & > div
                        padding: 16px 16px 24px                                                
                        h3
                            font-weight: 600
                            font-size: 20px
                            line-height: 25px                        
                        & > p
                            font-weight: 400
                            font-size: 16px
                            line-height: 20px                            
                            margin-top: 16px
                        & > p:nth-child(2)
                            height: 100px
                        .price
                            font-weight: 600
                            font-size: 24px
                            line-height: 30px
                            

@import 'adaptation'